.class-1 {
    background-color: antiquewhite;
    filter: hue-rotate(90deg);

    & .class-2 {
        display: grid;
        grid-template-columns: repeat(1fr);
        object-fit: contain;
        color: $color-white;
        hyphens: manual;
        contain: strict;

        @include breakpoint(large){
            color: $color-white;
        }
    }
}









